*.pptx
/.idea
.env
/temp
/temp
app.py
/templates
/.gradio
UPBEAT_learning_assistant_GUI_OLD.py
INSTRUCTIONS.txt

/learning_plans_v1
data/upbeat_LA_data_combined_9.4.2025.xlsx
data/~$upbeat_LA_data_combined_9.4.2025.xlsx
data/march_testing.xlsx
